@import url("../css/rest.css");
@import url("../css/slick.css");

$color-green: #233d3d;
$border-radius: 25px;

$hight-header-card: 15%;
$hight-body-card: 70%;
$hight-etc-card: 10%;

@mixin flex($jusContent, $ali-item) {
  display: flex;
  justify-content: $jusContent;
  align-items: $ali-item;
}

@mixin font-date {
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  text-align: end;
}

@mixin style-font-title {
  font-size: 20px;
  border-bottom: 1px $color-green solid;
}

@mixin button-style {
  padding: 10px 40px;
  border: 1px solid $color-green;
  border-radius: $border-radius;
}

@mixin checbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid $color-green;
  width: 25px;
  height: 25px;
  border-radius: 10px;
}

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media (max-width: 1200px) {
      @content;
    }
  } @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

body {
  color: $color-green;
  .container {
    margin: 0 auto;
    padding: 20px 10px;
    max-width: 1400px;
  }
}

.popup-overlay {
  height: 100%;
  width: 100%;
  background-color: $color-green;
  opacity: 0.5;
  position: fixed;
  z-index: 1;
  display: none;
  cursor: pointer;
}

.modal-popup {
  position: fixed;
  z-index: 2;
  width: 50%;
  height: 90%;
  top: 5%;
  right: 25%;

  background-color: #eeddc6;
  border-radius: $border-radius;
  padding: 20px;
  display: none;

  .modal-header {
    height: $hight-header-card;
    .modal-date {
      margin-top: 20px;
      @include flex($jusContent: end, $ali-item: center);
      @include font-date();
    }

    .modal-title {
      @include style-font-title();
    }

    .modal-close {
      @include flex($jusContent: end, $ali-item: center);
      img {
        width: 30px;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          transform: scale(1.2);
        }
      }
    }
  }

  .modal-body {
    height: $hight-body-card;
    margin-top: 20px;
    overflow-y: auto;

    .modal-list {
      li {
        @include flex($jusContent: start, $ali-item: center);
        gap: 10px;
        margin-bottom: 10px;

        input[type="checkbox"] {
          @include checbox();
        }

        input[type="checkbox"]:checked {
          background-color: $color-green;
        }
      }
    }
  }

  .modal-icon {
    height: $hight-etc-card;
    @include flex($jusContent: end, $ali-item: center);

    .modal-icon-img {
      @include button-style();

      &:hover {
        transition: 0.3s;
        transform: scale(1.2);
      }
    }
  }
  @include respond(medium) {
    width: 80%;
    right: 10%;
  }
}

.flatpickr-calendar {
  background-color: #f4f4ec;
  color: $color-green;
  border-radius: $border-radius;
  .flatpickr-day.today {
    border-color: $color-green;
  }
  .flatpickr-day.selected {
    background-color: $color-green;
    color: #f4f4ec;
    border: none;
  }
}

.modal-popup-create {
  position: fixed;
  z-index: 2;
  width: 50%;
  height: 70%;
  top: 15%;
  right: 25%;

  background-color: #eeddc6;
  border-radius: $border-radius;
  padding: 20px;
  display: none;

  .modal-header {
    height: $hight-header-card;

    #task-title {
      width: 100%;
      padding: 5px;
      @include style-font-title();
    }

    .modal-close-create {
      @include flex($jusContent: end, $ali-item: center);
      img {
        width: 30px;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          transform: scale(1.2);
        }
      }
    }
  }

  .modal-body {
    height: $hight-body-card;
    margin: 10px 0;
    overflow-y: auto;

    .input-task {
      margin-top: 5px;
      .task {
        @include flex($jusContent: inherit, $ali-item: center);
        gap: 10px;
        margin-bottom: 10px;

        input[type="text"] {
          width: 100%;
        }

        input[type="checkbox"] {
          @include checbox();
        }

        input[type="text"] {
          border-bottom: 1px solid $color-green;
          padding-bottom: 4px;
        }
      }
    }
  }

  .modal-button-save {
    height: $hight-etc-card;
    @include flex($jusContent: end, $ali-item: center);
    gap: 15px;

    .add-task-icon {
      @include button-style();
    }

    span {
      @include button-style();
    }
  }
}

header {
  .header-container {
    height: 100px;
    width: 100%;
    padding: 10px 15px;

    background-color: #d8cecf;
    border-radius: $border-radius;

    @include flex($jusContent: space-between, $ali-item: center);
    gap: 30px;

    .header-left {
      @include flex($jusContent: start, $ali-item: center);
      gap: 10px;
      .header-logo {
        .logo {
          width: 40px;

          @include respond(medium) {
            width: 25px;
          }
        }
      }
      .header-title {
        .title {
          font-size: 30px;
          border-bottom: 1px solid $color-green;
          margin-bottom: 5px;

          @include respond(medium) {
            font-size: 20px;
          }
        }

        .subtitle {
          font-style: italic;
        }
      }
    }

    .header-datetime {
      @include flex($jusContent: space-between, $ali-item: center);
      width: 230px;

      @include respond(medium) {
        width: 160px;
      }

      .datetime-day {
        width: 80px;
        padding-bottom: 25px;

        #datetime-day-info {
          font-size: 80px;
          font-weight: 700;

          @include respond(medium) {
            font-size: 60px;
          }
        }
      }

      .datetime-decor {
        width: 50px;
        height: 2px;
        background-color: $color-green;
        transform: rotate(112deg);
      }

      .datetime-data {
        @include flex($jusContent: inherit, $ali-item: center);
        flex-direction: column;
        padding-top: 25px;
        width: 90px;

        #datetime-date-weekday,
        #datetime-date-month {
          font-size: 20px;
        }
      }
    }
  }
}

main {
  .container-button {
    margin-bottom: 20px;
    @include flex($jusContent: end, $ali-item: center);
    .button-create {
      @include button-style();
      @include flex($jusContent: space-between, $ali-item: center);
      img {
      }

      .button-name {
      }
    }
  }

  .flex-card {
    @include flex($jusContent: space-between, $ali-item: center);
  }

  .flex-img {
    @include flex($jusContent: center, $ali-item: center);
  }

  .card-container {
    width: 100%;
    max-height: 400px;
    margin-bottom: 50px;

    .card-img {
      width: 500px;
      @include respond(medium) {
        width: 400px;
      }
      @include respond(small) {
        width: 300px;
      }
    }

    .slick-next,
    .slick-prev {
      img {
        width: 40px;
      }
    }

    .slick-active:last-of-type {
      transform: scale(1);
    }

    .card:not(.slick-active) {
      // margin: 0;
      transform: scale(0.85);
    }

    .card {
      position: relative;
      width: 350px;
      height: 350px;
      border-radius: $border-radius;
      padding: 14px;
      margin: 0 30px 0 0;

      @include flex($jusContent: center, $ali-item: inherit);
      flex-direction: column;

      background-color: #f4f4ec;

      transition: transform 0.3s ease;

      &-header {
        height: $hight-header-card;
        .card-title {
          @include style-font-title();
        }
        .card-date {
          @include font-date();
        }
      }

      &-body {
        margin-top: 20px;
        height: $hight-body-card;
        overflow-y: auto;
        .card-list {
          li {
            @include flex($jusContent: inherit, $ali-item: center);
            gap: 10px;
            margin-bottom: 10px;

            .task-input-text {
              width: 100%;
            }

            input[type="checkbox"] {
              @include checbox();
            }

            input[type="checkbox"]:checked {
              background-color: $color-green;
            }
          }
        }
      }

      &-more {
        height: $hight-etc-card;
        @include flex($jusContent: center, $ali-item: center);
        &-icon {
          width: 50px;
          transition: 0.3s;

          &:hover {
            transition: 0.3s;
            transform: scale(1.2);
          }
        }
      }
    }

    .card-today {
      width: 400px;
      background-color: #eeddc6;

      .card-more {
        &-icon {
          width: 70px;
        }
      }
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      margin-top: 20px;
      top: 100%;
      right: 55%;
    }

    .slick-next {
      right: 45%;
    }
  }

  .calendar-container {
    width: 100%;
    margin-top: 20px;

    .calendar {
      &-header {
        @include flex($jusContent: start, $ali-item: center);
        gap: 40px;
        @include respond(medium) {
          @include flex($jusContent: space-between, $ali-item: center);
          gap: 0;
        }

        #today {
          @include button-style();
        }

        .container-date-info {
          @include flex($jusContent: space-between, $ali-item: center);

          img {
            cursor: pointer;
          }
        }

        .btn-choice {
          display: flex;
          gap: 0;
          img {
            border: 1px solid $color-green;
            cursor: pointer;
          }

          img:nth-child(1) {
            padding: 10px 10px 10px 25px;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }
          img:nth-child(2) {
            padding: 10px 25px 10px 10px;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }
        }
      }

      #calendar-table {
        width: 100%;
        height: 500px;
        background-color: #d8cecf;
        border-radius: $border-radius;
        margin-top: 20px;

        border-collapse: collapse;

        thead {
          height: 40px;
          tr {
            border-radius: $border-radius;
            th {
              border-bottom: 1px solid #f4f4ec;
              border-left: 1px solid #f4f4ec;
              width: 14%;

              &:nth-child(1) {
                border-left: none;
              }
            }
          }
        }

        tbody {
          tr {
            height: 9%;

            td {
              border-bottom: 1px solid #f4f4ec;
              border-left: 1px solid #f4f4ec;
              width: 14%;

              .calendar-day {
                display: block;
                height: 30%;
                text-align: start;
                padding-left: 10px;
              }

              .calendar-task {
                display: block;
                height: 60%;

                span {
                  display: block;
                  padding: 5px;
                  margin: 0 5px;
                  background-color: #f4f4ec;
                  border-radius: $border-radius;
                }
              }

              &:nth-child(1) {
                border-left: none;
              }
            }
          }
          .calendar-dayNext {
            opacity: 0.5;
            td,
            .nextMonth {
              border-left: 1px solid #f4f4ec;
              border-bottom: none;

              height: 90% !important;

              &:nth-child(1) {
                border-left: none;
              }
            }
          }
        }
      }
    }
  }

  .task-container {
    display: none;

    .task {
      &-header {
      }

      &-body {
        .task-img {
          display: none;
        }
      }
    }
  }
}
